@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

body {
    margin: 0px;
    background-color: black;
}

:root {
    --font: Inter;
    --primary-color: rgb(0, 0, 0);
    --logo-color: tomato;

}

h1 {
    font-family: var(--font);
    color: var(--primary-color);
}

.logo {
    color: var(--logo-color);
    font-size: 2rem;
    font-weight: 800;
    font-size: 36px;
}

.nav-container {
    display: flex;
    align-items: center;


}

.nav-item,
.nav-item-home {
    list-style: none;
    margin-right: 47px;
}

.nav-item-home {
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    background: rgb(230, 83, 60);

}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;



    margin: 0px 100px 0px;




}

/* banner ...........................*/

.banner {

    background-color: black;
    background-image: linear-gradient(rgb(17, 17, 17), rgb(39, 39, 39), rgb(17, 17, 17));

    margin: 0px;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.2rem;
    font-weight: 900;
    text-align: left;
    margin-bottom: 28px;

}

.banner-content {
    width: 520px;
    margin: 96px 167px 76px 0px;

}

.shape {
    font-family: "Dancing Script", cursive;
    font-style: italic;
    font-size: 80px;
    font-weight: 900;
}

.button {
    display: flex;
    gap: 10px;
}



.classic-button {
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background: rgb(230, 83, 60);
    border: none;
    cursor: pointer;
    color: aliceblue;
    width: 210px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0px

}
.modify-button {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background: none;
}



.box-style {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);

}

.count-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 220px;
    height: 100px;



}

.count-box2 {

    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.count-box2 h3 {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 10px;
}

.count-box1 h3 {
    color: rgb(250, 250, 249);
    font-size: 28px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 0px;

}

.image {
    margin-top: 70px;
    position: relative;
    margin-right: 150px;
    margin-bottom: 0px;

}

.banner-container {
    display: flex;
    justify-content: space-between;




}

.banner-content p{
    
    margin-bottom: 28px;
   
}

.b-container {
    max-width: calc(1632px - 200px);

    margin-left: 100px;

}

@media screen and (min-width: 1632px) {
    .b-container {
        margin: 0 auto;
    }
}



.count-box1 {
    position: absolute;
    top: 400px;
    right: 250px;

}

.count-box2 {
    position: absolute;
    top: 125px;

    right: -70px;
}



.circle {
    background: rgb(230, 83, 60);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* change your habits */
.habits {
    max-width: calc(1632px - 200px);
    margin: 0px auto;

}

.habits-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 8px;

}

.habits-card {
    color: rgb(255, 255, 255);

    font-size: 18px;
    font-weight: 600;

}

/* shared */
.primary-text {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}